source .env.dev

eval `docker-machine env ${DOCKER_MACHINE_NAME}`

export DJANGO_SECRET_KEY
export DJANGO_SETTINGS_MODULE
export DJANGO_STATIC_ROOT

export GUNICORN_WORKERS
export GUNICORN_BIND

export POSTGRES_NAME
export POSTGRES_USER
export POSTGRES_PASS
export POSTGRES_SERVICE
export POSTGRES_PORT

export REDIS_SERVICE

export PERSONAL_FIXTURE